<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
    <div class="bg-img">
        <div class="content"><header>Register Here</header>
            <form action="/submit" method="post">
                <div class="field">
            <span ></span>
            <input type="text" placeholder="username" name="username" class="pl-3">
        </div>
        <div class="field space">
            <span ></span>
            <input type="text" placeholder="email" name="email" class="pl-3">
        </div>
        <div class="field space">
            <span ></span>
            <input type="password" placeholder="password" name="password" class="pl-3">
        </div>
        <div class="field space">
            <span ></span>
            <input type="text" placeholder="phone number" name="phonenumber" class="pl-3">
        </div>
         
        <div class="field space btn btn-warning" >
            <input type="submit"  value="submit">
             
   
        </div>
        <div class="pass"><span>Already have an account ?<a href="/userlogin">Log in </a></span></div>
    </form>
        </div>
    </div>
    
</body>
</html>